# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
venv/

# Data cache (large files)
data/scada/
data/uigf/
data/*.csv
data/*.xls
data/*.xlsx

data/nemosis_cache

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
